.rounded2{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-radius:10px;
    margin-top:10px;
    margin-bottom:10px;
}

.flickrA{
    display:block;
    color:#252525;
}

.base{
    background-color: #252525;
}

.card{
    margin-top:10px;
    margin-bottom:10px;
}