
.rounded-bottom{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 20px;
}

.search{
    background-color:#252525;
}
.searchInput{
    color: black;    
    text-align: center;
}
.searchInfoText{
    color: #fff;
}

.searchInfoText{
    color: #fff;
}

.searchButton{
    background-color:#fde0dd;
    color:#4292c6;
    margin-left:40px;
}

.personalLink{
    color:chartreuse!important;

}