
.padded{
    padding: 20px;
}

.search{
    /* background-color:; */
    color:#252525;
}
.searchInput{
    color: black;    
    text-align: center;
}

.searchButton{
    background-color:#fde0dd;
    color:#4292c6;
    margin-top:20px;
}

.personalLink{
    font-weight: bold;
}

.searchInfoText{
    font-weight:bold;
}

.searchHeader{
    margin:0;
}

.addPhoto{
    margin-top:10px;
    margin-bottom:10px;
}